*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    justify-content: center;
    align-items: center;
    background: url("wallpapers/71671-anime-boy-anime-hd-4k-5k-8k-10k-12k.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.register-form{
    

    width: 450px;
    padding:30px;
    margin-top:100px;
    margin-bottom: 10px;;
    text-align: start;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.4);
   

}

h2{
    color: #e70045;
    margin-bottom: 20px;
    text-align: center;
}
.register-form input {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 1rem;
    outline: none;
}

.register-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.button {
    width: 100%;
      padding: 12px;
      background-color: #ee013d;
      text-decoration: none;
      text-align: center;
      margin-top: 40px;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
}

.button:hover {
    background: #ff4f8a;
}
